body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100% !important;
    height: 455px;
}

.box img {
    width: 18%;
    height: 566px;
    margin-left: 41%;
}

p {
    border: 3px solid gray;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    margin-top: 111px;
    margin-bottom: 111px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}