body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxf img {
    width: 400px;
    height: 200px;
    transition: transform 0.5s;
}

.container {
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 50px;
}

.box {
    margin: auto;
    background-color: black;
}

.boxf img:hover {
    transform: translate(-50px, -50px);
}

.container2 {
    display: flex;
    margin-top: 130px;
    justify-content: space-around;
}